[
  {logger,[{console,[{format,<<"$date $time $metadata[$level] $message\n">>}]}]},
  {kernel,
	[{distributed, [{distro,5000, ['abc@192.168.8.104', {'bcd@192.168.8.104', 'def@192.168.8.104'}]}]},
	 {sync_nodes_mandatory, ['abc@192.168.8.104', 'def@192.168.8.104']},
	 {sync_nodes_timeout, 30000}
]}].
